/* Title Image in the Center */
.title-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title-image {
  max-width: 60%;
  /* Adjust size as needed */
  height: auto;
}

.title-subtext {
  font-size: 16px;
  color: #6e7926;
  text-align: center;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Button 1: My Library */
.button-library {
  position: absolute;
  z-index: 10;
  width: 252px;
  height: 59px;
  top: 580px;
  left: 74px;
  gap: 0px;
  border-radius: 10px;
  background: #FFFFFF;
  /* Default button color */
  color: #000000;
  border: none;
  font-size: 16px;
  font-weight: bold;
  opacity: 1;
  /* Change this to 0 if it's meant to be fully transparent */
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.button-library:hover {
  transform: scale(1.05);
  background-color: #FFFFFF;
  /* Change background to match the second button */
  color: #000000;
  /* Invert text color to white for contrast */
}

/* Button 2: Start a Hunt */
.button-hunt {
  position: absolute;
  z-index: 10;
  width: 252px;
  height: 59px;
  top: 650px;
  left: 74px;
  gap: 0px;
  border-radius: 10px;
  background: #000000;
  /* Default button color */
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  opacity: 1;
  /* Change this to 0 if it's meant to be fully transparent */
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.button-hunt:hover {
  transform: scale(1.05);
  background-color: #000000;
  /* Change background to match the first button */
  color: #FFFFFF;
  /* Invert text color to black for contrast */
}

/* Background Figures */
.background-figure {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

.figure-top-right {
  top: 10%;
  right: 0%;
  width: 100px;
  height: 100px;
}

.figure-above-button {
  top: 470px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
}